<div selected="true">

<h1><%=h @police_group.name %></h1>
<p>Metropolitian Police</p>

<p><span id='grand_total'><%=h @police_group.grand_total %></span> complaints *</p>

<p>moderate level of public complaints against police in 2009</p>

<p>complaints <%=h @police_group.percentage_change %>% <%= @police_group.percentage_change > 0 ? 'higher' : 'lower' %> than 2008</p>

<p id='report'>* total officer/staff level public complaints Dec 2008 to Nov 2009, BSMI Report</p>

<!--
<p>
  <b>Discriminatory behaviour:</b>
  <%=h @police_group.discriminatory_behaviour %>
</p>

<p>
  <b>Failures in duty:</b>
  <%=h @police_group.failures_in_duty %>
</p>


<p>
  <b>Incivility:</b>
  <%=h @police_group.incivility %>
</p>

<p>
  <b>Malpractice:</b>
  <%=h @police_group.malpractice %>
</p>

<p>
  <b>Oppressive behaviour:</b>
  <%=h @police_group.oppressive_behaviour %>
</p>

<p>
  <b>Other:</b>
  <%=h @police_group.other %>
</p>

<p>
  <b>Percentage change:</b>
  <%=h @police_group.percentage_change %>
</p>

<p>
  <b>Previous grand total:</b>
  <%=h @police_group.previous_grand_total %>
</p>

<p>
  <b>Traffic irregularity:</b>
  <%=h @police_group.traffic_irregularity %>
</p>
</div>

<%= link_to 'Edit', edit_police_group_path(@police_group) %> |
<%= link_to 'Back', police_groups_path %>
-->