<div id="main" selected="true">

<h1><%=h @police_group.name %></h1>
<p>Metropolitian Police</p>

<p class="<%= @police_group.rank %>"><span id='grand_total'><%=h @police_group.grand_total %></span> complaints *</p>

<p class="level"><%= @police_group.rank %> level of public complaints in 2009</p>

<% higher = @police_group.percentage_change > 0 %>
<% higher_or_lower = higher ? 'higher' : 'lower' %>
<p>complaints <span class="<%= higher_or_lower %>"> <%=h(@police_group.percentage_change).sub('-','') %>% <%= higher_or_lower %></span> than 2008</p>

<p id='report'>* total allegations recorded of officer/staff<br />
level public complaints Dec 2008 to Nov 2009,
<br />BSMI Report</p>

<!--
<p>
  <b>Discriminatory behaviour:</b>
  <%=h @police_group.discriminatory_behaviour %>
</p>

<p>
  <b>Failures in duty:</b>
  <%=h @police_group.failures_in_duty %>
</p>


<p>
  <b>Incivility:</b>
  <%=h @police_group.incivility %>
</p>

<p>
  <b>Malpractice:</b>
  <%=h @police_group.malpractice %>
</p>

<p>
  <b>Oppressive behaviour:</b>
  <%=h @police_group.oppressive_behaviour %>
</p>

<p>
  <b>Other:</b>
  <%=h @police_group.other %>
</p>

<p>
  <b>Percentage change:</b>
  <%=h @police_group.percentage_change %>
</p>

<p>
  <b>Previous grand total:</b>
  <%=h @police_group.previous_grand_total %>
</p>

<p>
  <b>Traffic irregularity:</b>
  <%=h @police_group.traffic_irregularity %>
</p>
</div>

<%= link_to 'Edit', edit_police_group_path(@police_group) %> |
<%= link_to 'Back', police_groups_path %>
-->